{#
/**
 * @file
 * Custom theme implementation for english helper block.
 *
 * Available variables:
 * - items.teams: Array with team state.
 * - items.matches: Array with last week matches state.
 * - items.properties.week: Current championship week.
 *
 * @ingroup themeable
 */
#}
<div class="english-helper-block-wrapper">
  <div class="block-wrapper">
    <div class="words-title block-title">
      <p class="title">Main vocabulary {{ items.word_list.count }}</p>
    </div>
    <div class="wrapper-table table-hide">
      {{ items.word_list.view_results }}
    </div>
  </div>
  <div class="block-wrapper">
    <div class="phrasal-title block-title">
      <p class="title">Phrasal verbs {{ items.phrasal_verb_list.count }}</p>
    </div>
    <div class="wrapper-table table-hide">
      {{  items.phrasal_verb_list.view_results }}
    </div>
  </div>
  <div class="block-wrapper">
    <div class="technical-title block-title">
      <p class="title">Technical words {{ items.technical_list.count }}</p>
    </div>
    <div class="wrapper-table table-hide">
        {{ items.technical_list.view_results }}
    </div>
  </div>
  <div class="block-wrapper">
    <div class="useful-phrases-title block-title">
      <p class="title">Useful phrases {{ items.useful_phrase_list.count }}</p>
    </div>
    <div class="wrapper-table table-hide">
        {{ items.useful_phrase_list.view_results }}
    </div>
  </div>
  <div class="block-wrapper">
    <div class="random-title block-title">
      <p class="title">Random items</p>
    </div>
    <div class="wrapper-table">
      <div class="random-items-table">
          {{  items.random_list.view_results }}
      </div>
      <div class="refresh-random">
        <a href="{{ path('eh_site.refresh_random') }}" class="use-ajax">{{ 'Refresh random translation'|t }}</a>
      </div>
    </div>
  </div>
</div>