div .block-title {
    border-radius: 4px;
    font-size: 25px;
}
div .words-title {
    background-color: #66bc42;
}
div .phrasal-title {
    background-color: #ed962d;
}
div .technical-title {
    background-color: #d059e0;
}
div .useful-phrases-title {
    background-color: #fc4646;
}
div .random-title {
    background-color: #13a1f4;
}
div .table-hide {
    display: none;
}
p .title {
   margin-left: 5px;
}
div .block-title:hover {
    opacity: 0.7;
    cursor: pointer;
}