div.translation-output {
    background-color: #ffffff;
}

ul.dictionary-examples {
    color: #777;
    list-style-type: none;
}

span.toggle {
    color: #999;
    cursor: pointer;
    font-size: 13px;
    padding-left: 4em;
}

ul.tab-content {
    list-style-type: none;
}

.dictionary-transcription {
    color: #888;
}

.dictionary-pos {
    color: #070;
    cursor: default;
}

.dictionary-mark {
    cursor: default;
    color: #9a9a9a;
    font-style: italic;
}

span.dictionary-meaning {
    color: #4b4b99;
}

.dictionary-synonym {
    color: #80494b;
    margin-top: 3px;
}

.not-admin-wrapper {
    max-width: 60%;
}

.translation-advanced {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 40%;
}

.filter-wrapper {
    display: none;
}

.field--name-field-translation-transcription div.cke_contents {
    height: 50px !important;
}

.field--name-field-translation-translation div.cke_contents {
    height: 150px !important;
}

.licence-link {
    text-align: center;
}